# Dependencias de OS
.DS_Store
Thumbs.db

# Configuración / Variables de Entorno (Claves de API)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules (si se decide usar Vite/NPM en el futuro)
node_modules/
dist/

# Ocultar lógica interna y bases de datos locales
defensa-alta-supabase.sql
data/signatures.json
